<div class="row m-0">
  <div class="col-6 bg-dark" style="height: 100vh;">
    <p class="text text-center text-light fs-1" style="margin-top: 40%;">
      <!-- Titulo de la aplicacion -->
      <strong>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cat" width="50" height="50" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M20 3v10a8 8 0 1 1 -16 0v-10l3.432 3.432a7.963 7.963 0 0 1 4.568 -1.432c1.769 0 3.403 .574 4.728 1.546l3.272 -3.546z"></path>
          <path d="M2 16h5l-4 4"></path>
          <path d="M22 16h-5l4 4"></path>
          <path d="M12 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
          <path d="M9 11v.01"></path>
          <path d="M15 11v.01"></path>
        </svg>
        CatApp
      </strong>
      <span>By Luis Orozco</span>
    </p>
  </div>
  <div class="col-6 bg-white" style="height: 100vh;">
    <ul class="list-group" style="margin-top: 35%; width: 50%; cursor: pointer;">
      <!-- Boton de crear -->
      <li class="list-group-item list-group-item-action text text-dark fs-5" (click)="showCreateModal()">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
          <path d="M9 12l6 0"></path>
          <path d="M12 9l0 6"></path>
        </svg>
        Create
      </li>
      <!-- Boton de buscar -->
      <li class="list-group-item list-group-item-action text text-dark fs-5" (click)="showFindModal()">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
          <path d="M21 21l-6 -6"></path>
        </svg>
        Find
      </li>
      <!-- Boton de actualizar -->
      <li class="list-group-item list-group-item-action text text-dark fs-5" (click)="showEditModal()">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
          <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
          <path d="M16 5l3 3"></path>
        </svg>
        Update or delete
      </li>
    </ul>
  </div>
</div>

<!-- Toast -->
<p-toast></p-toast>

<!-- Modal de creación -->
<p-dialog header="Create a cat" 
  [(visible)]="showCreate"
  [draggable]="false" 
  [maximizable]="true"
  [modal]="true"
  [style]="{width: '30vw'}">
  <div class="row m-0">
    <div class="col">
      <!-- Pedigree -->
      <div class="row mb-3">
        <div class="col-12">
          <label for="pedigree" class="me-3">
            <h6>Pedigree</h6>
          </label>
        </div>
        <div class="col-12">
          <p-dropdown [options]="pedigrees" [(ngModel)]="cat.pedigree" styleClass="w-100"></p-dropdown>
        </div>
      </div>
      <!-- Name -->
      <div class="row mb-3">
        <div class="col-12">
          <label for="name" class="me-3">
            <h6>Name</h6>
          </label>
          <div class="col-12">
            <input id="name" type="text" pInputText [(ngModel)]="cat.name" style="width: 100%;" autocomplete="off" />
          </div>
        </div>
      </div>
      <!-- Age -->
      <div class="row mb-3">
        <div class="col-12">
          <label for="age" class="me-3">
            <h6>Age</h6>
          </label>
          <div class="col-12">
            <p-dropdown [options]="ages" [(ngModel)]="cat.age" styleClass="w-100"></p-dropdown>
          </div>
        </div>
      </div>
      <!-- Gender -->
      <div class="row mb-3">
        <div class="col-12">
          <label for="gender" class="me-3">
            <h6>Gender</h6>
          </label>
          <div class="col-12">
            <p-dropdown [options]="genders" [(ngModel)]="cat.gender" styleClass="w-100"></p-dropdown>
          </div>
        </div>
      </div>
      <!-- Button -->
      <div class="row">
        <div class="col-12">
          <p-button label="Create cat" styleClass="p-button-success float-end" (click)="createCat()"></p-button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<!-- Modal de busqueda -->
<p-dialog header="Find cats" 
  [(visible)]="showFind"
  [maximizable]="true"
  [draggable]="false" 
  [modal]="true"
  [style]="{width: '60vw'}">
  <div class="row m-0">
    <div class="col">
      <!-- Tabla de gatos -->
      <p-table *ngIf="cats" [value]="cats" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Uid</th>
                <th>Pedigree</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cat>
            <tr>
                <td>{{ cat.uid }}</td>
                <td>{{ cat.pedigree | titlecase }}</td>
                <td>{{ cat.name | titlecase }}</td>
                <td>{{ cat.age | number }}</td>
                <td>{{ cat.gender | titlecase }}</td>
            </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-dialog>

<!-- Modal de edicion -->
<p-dialog header="Edit cats" 
  [(visible)]="showEdit"
  [maximizable]="true"
  [draggable]="false" 
  [modal]="true"
  [style]="{width: '75vw'}">
  <div class="row m-0">
    <div class="col">
      <!-- Tbala de gatos -->
      <p-table [value]="cats" selectionMode="single" [(selection)]="selectedCat" (onRowSelect)="showCatUpdating($event)" dataKey="uid" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Uid</th>
                <th>Pedigree</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cat>
            <tr [pSelectableRow]="cat">
                <td>{{cat.uid}}</td>
                <td>{{cat.pedigree | titlecase }}</td>
                <td>{{cat.name | titlecase }}</td>
                <td>{{cat.age | number }}</td>
                <td>{{cat.gender | titlecase }}</td>
            </tr>
        </ng-template>
    </p-table>
    </div>
  </div>
</p-dialog>

<!-- Modal de edicion del gato -->
<p-dialog header="Edit a cat" 
  [(visible)]="showEditCat"
  [draggable]="false" 
  [maximizable]="true"
  [modal]="true"
  [style]="{width: '30vw'}">
  <div class="row m-0">
    <div class="col">
      <!-- Pedigree -->
      <div class="row mb-3">
        <div class="col-12">
          <label for="pedigree" class="me-3">
            <h6>Pedigree</h6>
          </label>
        </div>
        <div class="col-12">
          <p-dropdown [options]="pedigrees" [(ngModel)]="cat.pedigree" styleClass="w-100"></p-dropdown>
        </div>
      </div>
      <!-- Name -->
      <div class="row mb-3">
        <div class="col-12">
          <label for="name" class="me-3">
            <h6>Name</h6>
          </label>
          <div class="col-12">
            <input id="name" type="text" pInputText [(ngModel)]="cat.name" style="width: 100%;" autocomplete="off" />
          </div>
        </div>
      </div>
      <!-- Age -->
      <div class="row mb-3">
        <div class="col-12">
          <label for="age" class="me-3">
            <h6>Age</h6>
          </label>
          <div class="col-12">
            <p-dropdown [options]="ages" [(ngModel)]="cat.age" styleClass="w-100"></p-dropdown>
          </div>
        </div>
      </div>
      <!-- Gender -->
      <div class="row mb-3">
        <div class="col-12">
          <label for="gender" class="me-3">
            <h6>Gender</h6>
          </label>
          <div class="col-12">
            <p-dropdown [options]="genders" [(ngModel)]="cat.gender" styleClass="w-100"></p-dropdown>
          </div>
        </div>
      </div>
      <!-- Button -->
      <div class="row">
        <div class="col-12">
          <p-button *ngIf="cat.uid" label="Delete cat" styleClass="p-button-danger float-start" (click)="deleteCat()"></p-button>
          <p-button *ngIf="cat.uid" label="Update cat" styleClass="p-button-success float-end" (click)="updateCat()"></p-button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<!-- Modal de eliminación -->
<p-dialog header="Delete cat" 
  [(visible)]="showFind"
  [maximizable]="true"
  [draggable]="false" 
  [modal]="true"
  [style]="{width: '60vw'}">
  <div class="row m-0">
    <div class="col">
      <!-- Tabla de gatos -->
      <p-table *ngIf="cats" [value]="cats" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Uid</th>
                <th>Pedigree</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cat>
            <tr>
                <td>{{ cat.uid }}</td>
                <td>{{ cat.pedigree | titlecase }}</td>
                <td>{{ cat.name | titlecase }}</td>
                <td>{{ cat.age | number }}</td>
                <td>{{ cat.gender | titlecase }}</td>
            </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-dialog>